<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Patient</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<header class="clinic-header">
		<div class="clinic-header-layout">
			<button class="clinic-header-button">Patient</button>
			<button class="clinic-header-button">Doctor</button>
			<button class="clinic-header-button">Visit</button>
			<p>Screen Name</p>
		</div>
	</header>
	<body class="clinic-body">
		<p class="clinic-blue-text">Patients</p>

		<div class="clinic-table">
			<span class="clinic-table-first-row">
				<span class="clinic-patient-column1">
					Patient_Id
				</span>
				<span class="clinic-patient-column2">
					Name
				</span>
				<span class="clinic-patient-column3">
					Visit_Id
				</span>
			</span>
		</div>
	</body>
</html>